*:focus{
    outline: none;
}

body{
    background: #000 url('../img/background.jpg') no-repeat top center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI','VL PGothic','Meiryo UI',sans-serif;
}

h1{
    margin: 0;
    padding: 10px 0 0 25px;
}

main{
    position: absolute;
    width: 100vw;
    bottom: 0;
    right: 0;
    padding: 0 10px 5px 50vw;
    box-sizing: border-box;
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0) 100px,rgba(0,0,0,0));
}

img#logo{
    display: block;
    margin: 0;
    max-width: 300px;
    max-height: 200px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px black);
}

input[type="search"]{
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 4px;
    padding: 7px 13px;
    font-size: 17px;
    width: 100%;
    color: white;
    transition: all 0.2s;
    text-shadow: 0 0 4px black;
}
input[type="search"]:focus,input[type="search"]:hover{
    background: rgba(0,0,0,0.7);
}
input[type="search"]::placeholder{
    color: rgba(255,255,255,0.9);
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
    transition: opacity 0.2s;
}
input[type="search"]:focus::placeholder{
    opacity: 0;
}

#services{
    text-align: right;
}
.category{
    display: inline-block;
    margin: 5px;
    padding: 0 10px 3px;
    background: rgba(0,0,0,0.2);
    border-radius: 3px;
}
.category > h2{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 0 5px black;
    margin: 0 -10px 2px;
    padding: 2px 5px 4px;
    background: rgba(0,0,0,0.4);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.service{
    display: inline-block;
    text-align: center;
    width: 110px;
    box-sizing: border-box;
    padding: 5px;
    text-shadow: 0 0 7px black;
    border-radius: 5px;
    vertical-align: top;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}
.service:hover,.service:focus{
    background: rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.service > i:first-child{
    display: block;
    font-size: 2.5em;
    padding: 5px;
}
.service > img:first-child{
    margin: 0 auto;
    display: block;
    height: 2.5em;
    padding: 5px;
    filter: drop-shadow(0 0 7px black);
}

nav{
    position: absolute;
    top: 10px;
    right: 20px;
}
nav > a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 4px black;
    margin: 0 5px;
}
nav > a:hover{
    text-decoration: underline;
}

#comment{
    padding-top: 5px;
    width: auto;
    font-size: 15px;
    text-shadow: 0 0 4px black;
    animation: fade 1.5s ease-out;
}
#comment > i{
    display: block;
    font-size: 12px;
    padding-top: 3px;
}
@keyframes fade{
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    100% { opacity: 1; }
}

#more{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    text-shadow: 0 0 12px black;
}
#date,#clock{
    animation: fade 5s ease-out;
}
#date{
    font-size: 40px;
    display: block;
}
#clock{
    font-size: 100px;
    line-height: 100px;
}